h1, h6{
    color:red;
    font-size: 40px;
    background-color: black;
    font-family: cursive;
}
h4{
    color: gold;
    background-color: darkgray;
    text-align: center;
    font-family: courier;
    font-size: 40px
}
/*we can create our own style class*/
.my-style{
    color:purple;
    text-align: center;
    background-color: aqua;
}

#my-unique-id{

    color:gold;
    background-color: beige;
    

}

.img1{

width: 200px;
height: 140px;
border: 5px solid red;
margin: 10px;       /* margin is the space around if u type just margin it will leave space from every direction or u can use up down ... */
}

.img2{

width: 200px;
height: 150px;
border: 5px dashed green;
padding: 10px; /* padding is the space between border line and borders of image */

}
table{
    border: 1px solid red;
}
th{
    background-color: darkblue;
}
td{
    border: 1px solid purple;
    background-color: darkgray;
    color: blue;
}
#another-unique-id{
    color: aqua;
    background-color: yellow;
    background-position: center;
    background-size: 100px;
}
.another-class{
    color: blueviolet;
    text-align: center;
    background-color: aqua;
    font-family: courier;
    font-size: 40px
}
h7{
    color:red;
    font-size: 40px;
    background-color: black;
    font-family: cursive;
    background-position: center;
}